body{
  background: white;
  margin: 24px;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: rgba(255, 229, 205, 0.315);
}

.timer__part{
  font-size: 36px;
  font-weight: bold;
}

.timer__btn{
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #da9fff;
  cursor:pointer;
}

.timer__btn--start{
  background: #a0be58;
}

.timer__btn--stop{
  background: #ff5f5f;
}
